.banner {
  width: 100%;
  height: 25rem;
}
.contentContainer {
  max-width: 720px;
  margin-top: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100vh; //Alinha o objeto verticalmente com o desconto do header

  //display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    /* identical to box height */

    letter-spacing: -0.5px;

    /* Heading */

    color: #F8F8F8;
  }

}
